@import "tailwindcss";

:root{
  --steel: #4682B4;
  --steel-2: #2f6fa3;
  --panel: rgba(10, 14, 22, 0.85);

  --background: #0a0f18;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1, h2, h3, h4 {
  font-family: var(--font-sora);
}